extends templates/layout
block main
    if printers.length
        table
            thead
                tr
                    th ID
                    th Identifier
                    th Actions
            tbody
                each printer in printers
                    tr
                        td=printer.id
                        td=printer.identifier
                        td 
                            a.waves-effect.waves-light.btn(href=`/portal/printers/${printer.id}`) View more
    else
        h4 No printers registered
    